*, 
*::before,
 *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f7f7f2; 
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto-Mono', monospace;
  margin: 20px;
  background-color: #260c1a;
}

.navbar-container{
  position: fixed;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* border: solid white 2px; */
  width: 96%;
  height: 100px;
  transition: 1s ease;
}

.navbar-hidden {
  top: -100px;
}

.navbar-visible {
  top: 0;
}

.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  fill: none;
  stroke: #c5d86d;
  stroke-width: 3;
  width: 70px;
  height: 70px;
}
.logo svg text {
  font-size: 60px;
  stroke: white;
  fill: white;
}


.links {
  width: 85%;
  /* border: solid white 2px; */
  display: flex;
  justify-content: space-between;
}

.active-nav-link {
  border: solid white 2px;
  cursor: default;
  background-color: inherit;
  border-radius: 6px;
  padding: 6px;
  font-size: 20px;
  box-shadow: 6px 6px #c5d86d;
}

.nav-link {
  cursor: pointer;
  background-color: inherit;
  padding: 6px;
  font-size: 20px;
  border-radius: 6px;
  border: solid #c5d86d 2px;
  transition: 0.5s ease;
}

.links button:hover {
  box-shadow: 6px 6px #c5d86d;
}

.ham-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 90px;
  padding-top: 10px;
  padding-right: 10px;
  border: solid #d9541fa1 2px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color:#260c1a;
  width: 225px;
  height: 300px;
}

.ham-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
  border: solid #260c1a 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ham-menu-content button svg {
  fill: white;
  padding-right: 6px;
  width: 20px;
  height: 20px;
  transition: 0.5s ease;
}

.ham-menu-content button{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid #c5d86d 2px;
  background-color: inherit;
  width: fit-content;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  transition: 0.5s ease;
}

.ham-menu-content button:hover {
  background-color: white;
  box-shadow: 6px 6px 0;
  border-color: white;
  color:#260c1a;
}

.ham-menu-content button:hover svg {
  fill: #c5d86d;
}

.hero-container {
  margin-top: 140px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: solid white 2px; */
  height: 600px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid white 2px; */
  height: 550px;
}

.introduction {
  padding-left: 60px;
  /* z-index: 9999; */
  /* border: solid white 2px; */
}

.intro-container h1 {
  padding-top: 40px;
  font-size: 25px;
  color: #c5d86d;
}

.intro-container h2 {
  padding-top: 2px;
  font-size: 125px;
}

.intro-container h2 span {
  font-size: 60%;
}

.intro-container h3 {  
  color: #d3d3cf;
  padding-top: 40px;
  font-size: 50px;
}

.statement{
  display: flex;
  align-items: center;
  /* border: solid white 2px; */
  height: 180px;
}

.statement p {
  font-size: 20px;
  padding-left: 60px;
}

.scroll-container {
  display: flex;
  margin-bottom: 90px;
  padding: 15px;
  justify-content: center;
  align-items: flex-end;
  /* border: solid white 2px; */
  height: 60px;
}



.process {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
  /* border: solid white 2px; */
  max-width: 100%;
}

.card img {
  flex: 0 0 auto;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  animation: bounce 8s infinite;
  transition: 1s ease;
}

.card img:hover {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(5, 0, 1, 1);
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: cubic-bezier(5, 0, 1, 1);
  }
}

.email-left {
  display: flex;
  align-items: center;
  position: fixed;
  margin: 20px;
  bottom: 0;
  left: 1;
  z-index: 9999;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  /* border: solid white 2px; */
  width: 300px;
  height: 20px;
}

.email-left span {
  color: #777;
  padding-left: 8px;
}

.email-left svg {
  transform: rotate(90deg);
  width: 20px;
  fill: #777;
}

.ham-btn {
  margin-right: 15px;
  cursor: pointer;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: solid #c5d86d 2px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  transition: 0.5s ease;
}
.ham-btn:hover {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 1);
  border-color: white;
}
.ham-btn:hover span {
  background-color: #c5d86d;
  border-color: #c5d86d;
}
.ham-btn span {
  height: 5px;
  margin-top: 3px;
  border: solid white 2px;
  border-radius: 2rem;
  width: 40px;
  background-color: white;
  transition: 0.5s ease;
}

.my-work-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid white 2px; */
  /* height: 800px; */
}

.my-work-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  /* height: 750px; */
  /* border: solid white 2px; */
}

.project-card-container {
  margin: 10px;
  height: 400px;
  /* border: solid white 2px; */
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: solid white 2px; */
  border-radius: 15px;
  position: relative;
}

.project-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-right: 70px;
  height: 100%;
  left: 0;
  z-index: 10;
  width: 45%;
  border: solid #f05d23 5px;
  border-radius: 15px;
  background-color: whitesmoke;
}

.project-img {
  cursor: pointer;
  height: 100%;
  right: 0;
  position: absolute;
  z-index: 12;
  width: 60%;
  border: solid #555 8px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  /* adds a shadow to just the left side of a card/container */
  box-shadow: -30px 0 30px -5px  rgba(0, 0, 0, 0.5);
}

.project-desc h1 {
  margin-bottom: 15px;
  color: #260c1a;
}

.description-text {
  color: #260c1a;
  margin-bottom: 15px;
}

.technologies {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.technologies span {
  padding-right: 6px;
  color:#260c1a;
}

.project-desc span a{
  color: #260c1a;
}

.source-code svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.bio-container {
  margin-top: 70px;
  /* border: solid white 2px; */
  display: flex;
  height: 600px;
  flex-direction: row;
  justify-content: space-evenly;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  /* border: solid white 2px; */
  width: 55%;
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
}

.about-body span {
  font-size: 22px;
}

.about-img {
  border: solid white 4px;
  border-radius: 50%;
  background-position: center +1px;
  background-size: cover;
  height: 400px;
  width: 400px;
}

.contact {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 40%;
  border: solid white 2px;
  background-color: whitesmoke;
  border-radius: 30px;
}

.popup {
  display: flex;
  justify-content: center;
  /* border: solid #260c1a 2px; */
  width: 60%;
  padding: 10px;
}

.popup-content {
  display: flex;
}

.popup-content span{
  color: red;
  padding-right: 15px;
  font-size: 30px;
}

.popup-content ul li {
  list-style-type: none;
  color: red;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid rgb(118, 118, 250) 2px;
  margin-bottom: 30px;
  border-radius: inherit;
  height: 25%;
  width: 100%;
  padding: 6px;
}

.contact-header h1 {
  color:#260c1a;
}

.contact-header span {
  color: rgb(118, 118, 250);
  font-size: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 100%;
}

.contact-form input {
  margin-bottom: 15px;
  border: solid #333 2px;
  color: #260c1a;
  width: 50%;
  border-radius: 6px;
  padding: 10px;
}

.contact-form div label{
  color: #260c1a;
}

.contact-form textarea {
  resize: none;
  border: solid #333 2px;
  border-radius: 6px;
  margin-top: 15px;
  padding: 10px;
  color: #260c1a;
  height: 100px;
  width: 100%;
}

.contact-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact-form button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  margin-top: 15px;
  padding: 4px;
  color: white;
  border: solid #333 2px;
  border-radius: 6px;
  background-color: rgb(118, 118, 250);
  transition: 0.7s ease;
}

.contact-form button svg {
  fill: white;
  width: 15px;
  height: 15px;
  transition: 0.7s ease;
}

.contact-form button:hover {
  background-color: whitesmoke;
  color: rgb(118, 118, 250);
}

.contact-form button:hover svg{
  fill: rgb(118, 118, 250);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  /* border: solid white 2px; */
  height: 100px;
}

.footer button {
  position: relative;
  /* z-index: 1; */
  cursor: pointer;
  border: solid #351124 2px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  height: 60%;
  width: 200px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 6px;
  transition: color 0.3s ease-in-out;
}

.footer button span {
  color: white;
  z-index: 2;
}

.footer button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: whitesmoke; /* Background color */
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.footer button:hover::before {
  width: 100%;
}

.footer button:hover span{
  color: #260c1a;
}


@media (max-width: 1100px) {
  .introduction {
    /* padding: 0; */
  }
  .my-work-content {
    width: 90%;
  }
  .card img {
    width: 130px;
    height: 130px;
  }
  .intro-container h1 {
    font-size: 20px;
  }
  .intro-container h2 {
    font-size: 90px;
  }
  .intro-container h3 {
    font-size: 40px;
  }
  .statement {
    justify-content: center;
    padding: 0;
  }
  .bio-container {
    height: 650px;
  }
  .about-img {
    width: 270px;
    height: 270px;
  }
  .about-body {
    width: 100%;
    height: 60%;
  }
  .about-body span{
    font-size: 18px;
  }
  .about-header {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .introduction {
    padding: 0;
  }
  .my-work-content{
    width: 100%;
  }
  .process {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }
  .statement p {
    padding: 0;
  }
  .intro-container h1 {
    font-size: 25px;
  }
  .intro-container h2 {
    font-size: 60px;
  }
  .intro-container h3 {
    font-size: 35px;
  }
  .about-img {
    width: 240px;
    height: 240px;
  }
  .project-desc {
    padding-right: 35px;
  }
}

@media (max-width: 500px) {
  .navbar-container {
    margin: 0;
  }
  .hero-container {
    margin: 0;
  }
  .introduction {
    padding: 0;
  }
  .intro-container {
    justify-content: space-evenly;
  }
  .intro-container h1 {
    font-size: 20px;
  }
  .intro-container h2 {
    font-size: 40px;
  }
  .intro-container h3 {
    padding-top: 10px;
    font-size: 18px;
  }
  .about {
    width: 100%;
  }
  .about-img {
    margin-bottom: 10px;
  }
  .about-header{
    height: 100%;
    justify-content: flex-start;
  }
  .about-body {
    height: 50%;
    width: 100%;
  }
  .bio-container {
    flex-direction: column;
    height: 1050px;
  }
  .contact {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-form textarea {
    margin-top: 5px;
  }
  .contact-form input {
    margin-bottom: 8px;
    width: 70%;
  }
  .my-work-content {
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 200px;
    height: 2000px;
  }
  .project-card {
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .project-desc {
    width: 100%;
    height: 55%;
    padding-bottom: 50px;
    padding-right: 5px;
  }
  .project-img {
    width: 100%;
    height: 50%;
    bottom: 0;
    box-shadow: 0 -30px 30px -30px  rgba(0, 0, 0, 0.5);
  }
}